Clases/*
Cuaderno/*
Talleres/*
MACC_geometría computacional_2021_1.pdf
Prof. Dr. Mark de Berg, Dr. Otfried Cheong, Dr. Marc van Kreveld, Prof. Dr. Mark Overmars (auth.) - Computational geometry_ algorithms and applications-Springer-Verlag Berlin Heidelber.pdf